/* Основное */
body{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Roboto;
}
a, button{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.container{
    width: 1280px;
    margin: 0 auto;
}
button{
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin: 15px;
    font-size: 20px;
    transition: 0.2s;
    padding: 5px;
}
button:hover{
    border-radius: 15px;
    
}
input{
    border-radius: 10px;
    padding: 10px
}
/* Основное */

/* Шапка */
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 40px;
    color: white;
    background-color: white;
}
.logo{
    align-items: center;
    font-size: 53px;
    display: flex;
}
.hatBackground{
    background-color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.navbarText{
    margin: 10px;
    transition: 0.2s;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.navbarText:hover{
    border: 2px solid white;
    border-radius: 15px;
    color: black;
}
/* Шапка */

/* Баннер */
.bannerBackground{
    background-image: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?cs=srgb&dl=pexels-daniel-reche-3721941.jpg&fm=jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    box-shadow: 3px -2px 7px 1px rgb(255, 255, 255);
}

.bannerText{
    padding: 200px 0px;
    font-size: 80px;
}
/* Баннер */

/* Best Artists */
.musicBackground{
    background: black;
    
}
.cardContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 40px;
}
.card{
    width: 250px;
    border-radius: 10px;
    padding: 10px;
}
.cardInfoBorder{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.cardImage img{
    width: 230px;
    border-radius: 10px;
}

.cardsTitle{
    font-size: 40px;
    padding: 40px 0px;

}
.cardTitle{
    font-size: 40px;
}
hr{
    margin-bottom: 30px;
}
/* Best Artists */

/* About US | Contacts */
.aboutUs{
    border-radius: 10px;
    text-align: center;
    width: 400px;
}
.aboutUsTitle h4{
    font-size: 40px;
}
.aboutUsText{
    font-size: 20px;
}

.contactUs{
    border-radius: 10px;
    text-align: center;
}
.contactsAboutUsBackground{
    background: #000000eb;
}
.contactsAboutUsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.contactsAboutUsContainer div{
    margin: 20px 0px;
}
.contactUs{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contactUs div{
    margin: 10px;
}
.contactUs h4{
    font-size: 40px;
}
/* About US | Contacts */

/* Footer */
.footerBackground{
    background: black
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.leftBlock{
    margin-top: 10px;
}
.rightBlock{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 215px;
}
.rightBlock div{
    margin: 5px;
}
/* Footer */
