@media screen and (max-width: 1280px) {
    .container{
        width: 800px;
    }
}

@media screen and (max-width: 808px) {
    .navbarText{
        padding: 5px
    }
    a, button{
        font-size: 10px;
    }
    .logo{
        font-size: 33px;
    }
    .aboutUs{
        width: 300px;
    }
    .container{
        width: 360px;
    }
    .cardContainer{
        justify-content: center;
    }
    .cardsTitle{
        display: flex;
        justify-content: center;
    }
    
    .border {
        text-align: center;
        display: inline-block;
        padding: 2rem 2rem;
    }
    .Photo{
        justify-content: center;
        margin: 100px;
        
        
    }
    .contactsAboutUsContainer{
        display: flex;
        justify-content: center;
    }
    .rightBlock{
        width: auto;
    }
    .bannerText{
        font-size: 50px;
    }
    .footerContainer div{
        margin: 0px 10px;
    }
}